@import './variables';
@keyframes dot-jump {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
.calc-wrap {
  width: 93rem;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.character-wrap {
  display: flex;
  gap: 0 18px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    gap: 1rem 2%;
  }

  .character-box {
    position: relative;
    padding-top: 1.4rem;
    width: 14rem;
    height: 22.5rem;
    text-align: center;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.02);
    overflow: hidden;

    @media screen and (max-width: 768px) {
      width: 49%
    }

    .loader-box {
      position: absolute;
      top: 0;
      left: 0;
      align-content: center;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .75);

      .loader {
        position: relative;
        width: 5rem;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;

        .dot {
          width: 1rem;
          height: 1rem;
          background: #00e676;
          border-radius: 50%;
          position: absolute;
          top: calc(50% - 0.5rem);

          &.dot1 {
            left: 0;
            animation: dot-jump 0.5s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
          }

          &.dot2 {
            left: 2rem;
            animation: dot-jump 0.5s 0.2s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
          }

          &.dot3 {
            left: 4rem;
            animation: dot-jump 0.5s 0.4s cubic-bezier(0.77, 0.47, 0.64, 0.28) alternate infinite;
          }
        }
      }
    }

    .button-box {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }

    .profile-box {
      width: 6rem;
      height: 6rem;
      margin: 0 auto;

      img {
        width: 100%;
      }
    }

    .input-box {
      padding: 0 1.2rem;
      margin: 0.7rem 0 1.2rem;

      input {
        width: 100%;
        height: 2.6rem;
        font-size: 1.5rem;
        color: #555;
        font-weight: 500;
        background: #f6f8fa;
        text-align: center;

        &::placeholder {
          color: #b2b2b2;
        }
      }

      &.active input {
        color: #383838;
        font-weight: 700;
      }
    }

    .raidList-box {
      margin-bottom: 1.3rem;

      .raid-name {
        font-size: 1.3rem;
        color: #a9a9a9;
        font-weight: 500;

        &.selected {
          color: #383838;
        }

        &:nth-child(n+2) {
          margin-top: 0.8rem;
        }
      }
    }

    .gold-box {
      display: flex;
      gap: 0 0.6rem;
      align-items: center;
      justify-content: center;

      img {
        width: 1.8rem;
      }

      .gold {
        font-size: 1.4rem;
        color: #383838;
        font-weight: 700;
      }
    }

    .deco-box {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.6rem;
    }
  }
}

.total-wrap {
  display: flex;
  margin: 1.6rem 0 2.6rem;
  padding: 1.5rem 2.5rem;
  justify-content: center;
  align-items: center;
  background: #fffdec;
  border: 1px solid #eedf55;

  img {
    display: block;
    margin-top: -0.2rem;
    width: 2.5rem;
  }

  .total-gold {
    margin-left: 1rem;
    font-size: 1.6rem;

    b {
      padding-left: 0.5rem;
    }
  }
}

.raid-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;

  @media screen and (max-width: 750px) {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 2rem 1.8rem;
    z-index: 99;
    background: rgba(0, 0, 0, .3);

    &.active {
      display: block;
    }
  }

  .raid-box {
    position: relative;
    display: flex;
    padding: 0.9rem 1.7rem;
    background: #fff;
    gap: 0 0.8rem;
    align-items: center;
    flex: 1 1 30%;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.02);

    @media screen and (max-width: 750px) {
      display: block;
      border-radius: 0.5rem;

      &:nth-child(n+2) {
        margin-top: 0.6rem;
      }
    }
    
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 0.5rem;
      height: 100%;
    }

    &.checked {
      opacity: 0.3;
      pointer-events: none;
    }

    .raid-info-box {
      display: flex;
      gap: 0 0.8rem;
      align-items: center;

      @media screen and (max-width: 750px) {
        margin-bottom: 0.8rem;
        justify-content: center;
      }
    }

    .raid-img-box {
      width: 30px;
      border-radius: 0.6rem;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .raid-name-box {
      font-size: 1.5rem;
      font-weight: 500;
    }

    .raid-gold-box {
      padding-left: 0.2rem;
      display: flex;
      gap: 0.6rem;

      @media screen and (max-width: 750px) {
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.8rem;
      }

      button {
        padding: 0.6rem 0.8rem 0.55rem;
        font-size: 1.4rem;
        color: #b881f6;
        background: #f4e8ff;
        border-radius: 0.3rem;
        border: 1px solid transparent;
        cursor: pointer;

        &.normal {
          color: #eda771;
          background: #fdf6dc;
        }

        &.hard {
          color: #ec6a8c;
          background: #ffe2e6;
        }
      }
    }
  }
}

.button-wrap {
  margin-top: 2.3rem;
  text-align: right;

  .btn-save {
    width: 15rem;
    height: 4.5rem;
    font-size: 1.4rem;
    color: #fff;
    background: #3a3e63;
    border-radius: 0.3rem;
    transition: background-color .5s;
    
    &:hover {
      background: #272a49;
    }
  }
}