@import './variables';
// variables
$headerWidth: 270px;

// wrapper
.wrapper {
  display: flex;
  gap: 0 32px;
  //padding-left: calc($headerWidth + $paddingVertical);
  justify-content: center;
  &:after {
    position: fixed;
    content: '';
    left: 0;
    bottom: 0;
    width: 100vw;
    height: $paddingVertical;
    background: $backgroundColor;
  }
}

// menu
#header {
  @include boxItem(48px, $paddingVertical);
  @include height100vh;
  position: fixed;
  top: $paddingVertical;
  left: $paddingVertical;
  padding-bottom: 0;
  width: $headerWidth;

  .nav {
    &-wrap {
      h1 {
        a {
          font-size: 0;
          img {
            width: 100%;
          }
        }
      }
    }

    &-inner {
      padding-top: 58px;
      .gnb {
        > li {
          position: relative;
          &:nth-child(n+2) {
          }
          &.matched:after {
            @include transformTrx($top: 50%, $y: -50%);
            @include makeCircle;
            content: '';
            left: auto;
            right: 0;
            width: 5px;
            height: 5px;
            background: $fontColorDark;
          }
          > a {
            display: flex;
            align-items: center;
            gap: 0 12px;
            padding: 17px 0;
            img {
              height: 20px;
            }
            p {
              color: $fontColorDark;
              font-size: 1.6rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

// search
.search {
  &-inner {
    $buttonWidth: 80px;
    margin-bottom: $paddingVertical;

    @include boxItem;
    display: flex;
    width: 760px;
    height: 42px;
    * {
      height: 100%;
      border-radius: 8px;
    }
    input {
      padding-left: 16px;
      width: calc(100% - $buttonWidth);
      font-size: 1.5rem;
      &::placeholder {
        color: $placeholderColor;
      }
    }
    button {
      width: $buttonWidth;
      color: #fff;
      background: $fontColorDark;
    }
  }
}